@import "../scss/_variables.scss";

@import "_updatestyle1.scss";

div.dataTables_wrapper div.dataTables_processing {
    width: 120px !important;
    padding: 5px 0 !important;
    background: rgb(0 0 0 / 40%);
    border-radius: 12rem;
    color: #ffffff;
}

.cookie-popup.position-bottom {
    width: 300px !important;
}

.cookie-popup.position-bottom .cookie-popup-left,
.cookie-popup.position-bottom .cookie-popup-right {
    display: block;
    text-align: inherit;
}

.file-image-1 .file-name-1 {
    right: 0;
    left: 0;
    bottom: -30px;
    color: #524d4d;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

.file-image-1 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    .product-image   {
        border: $border;
        border-radius: 5px;
    }
}
.dark-mode {
    .file-image-1 .product-image {
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 5px;
    }
}
.spfileupload .file-image-1 .product-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.spfileupload {
    background-color: #f1f4fb;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    padding-right: 28px;
    .form-control {
        background-color: #fff;
        border-color: #f1f4fb;
        &::-webkit-file-upload-button {
            background-color: #e4e9f5;
        }
    }
    .file-image-1 {
        background: #e4e9f5;
        padding: 10px;
    }
}
.privatearticle {
    margin-bottom: 0px;
    svg {
        position: relative;
        top: -2px;
    }
}

.acc-header a {
    font-size: 1.1rem !important;
}

.logosdelete {
    padding: 5px;
    line-height: 1;
    font-size: 12px;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
@media (min-width: 992px) {
    .can_msg {
        position: absolute;
        top: -33px;
        right: 12px;
    }

    .flex-md-1 {
        flex: 1;
    }

    .flex-md-2 {
        flex: 2;
    }
}

@media (max-width: 1440px) {
    .pos-sticky-scroll {
        position: relative !important;
        top: unset !important;
        left: unset !important;
        right: unset !important;
        width: 100% !important;
    }
}
// .horizontalMenucontainer,
// .app-content {
//     overflow: clip !important;
// }

.nav-link .badge {
    border-radius: 12px !important;
    top: 1px !important;
    right: 4px !important;
    font-size: 0.57rem !important;
}
.pagination .page-link {
    padding: 0.65rem 0.95rem;
}
.custom-switch-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-switch-indicator {
    display: inline-block;
    height: 1.25rem;
    width: 2.25rem;
    background: #e9ecef;
    border-radius: 50px;
    position: relative;
    vertical-align: bottom;
    border: 1px solid #e9ebfa;
    transition: 0.3s border-color, 0.3s background-color;
}
.custom-switch-indicator:before {
    content: "";
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s left;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 40%);
}
.custom-switch-input:checked ~ .custom-switch-indicator {
    background: #36f;
}
.custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px);
}
.custom-switch {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

@media (max-width: 767px) {
    .sidenav-toggled.main-navbar-show .main-navbar-backdrop {
        visibility: visible;
        opacity: 1;
    }
    .app .app-sidebar {
        margin-top: 0px !important;
    }
}
.main-navbar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    width: auto !important;
}

.dark-mode {
    .table-striped > tbody > tr:nth-of-type(odd) > * {
        color: #e2e5e9;
    }

    .spfileupload {
        background-color: #212650;
        .file-image-1 {
            background-color: #191d43;
            border: 1px solid #191d43;
        }
    }
}
.sprukologoimages {
    .btn.ticketnotedelete {
        font-size: 12px;
        padding: 0.25rem 0.25rem;
        line-height: 1;

        i {
            line-height: 1;
            font-size: 12px;
        }
    }
}
.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    vertical-align: bottom;
    font-size: 0.875rem;
    svg {
        width: 18px;
        height: 40px;
    }
}

.login-form {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #e6ebf1;
        top: 10px;
        left: 0;
        right: 0;
        opacity: 0.6;
      }
    .divider {
        position: relative;
        font-size: 10px;
        padding: 3px;
        border: 1px solid #e6ebf1;
        border-radius: 50%;
        width: 22px;
        background-color: white;
        color: #8d95ad;
        height: 22px;
        margin: 0 auto;
    }
}

// .social-icon-2:hover {
//     background-color: var(--primary);
//     color: rgba(255, 255, 255, 0.8) !important;
//     span {
//         color: #fff;
//     }
//     .border-gray {
//         border-color: rgba(255, 255, 255, 0.15) !important;
//     }
// }

#searchList {
    .dropdown-menu {
        li a {
            white-space: normal;
        }
    }
}

.article-search {
    input {
        border-radius: 13px;
    }
    #searchList .dropdown-menu {
        border-radius: 13px !important;
    }
}
.category-search {
    input {
        border-radius: 13px;
    }
    #searchList .dropdown-menu {
        border-radius: 13px !important;
    }
}
.sprukocard {
    box-shadow: 0 0 10px var(--primary);
}

.empty-block {
    border-radius: 50%;
    background-color: #f1f4fb;
}

.main-settings-layout {
    height: calc(100vh - 288px);
}

.flex-1 {
    flex: 1;
}

.mn-wd-20p {
    min-width: 20% !important;
}

.settings-layout-2 {
    .main-settings-content {
        height: calc(100vh - 424px);
    }
}

.main-settings-content {
    height: calc(100vh - 418px);
    position: relative;
    overflow: hidden;
}

.onoffswitch2 {
    &.switch-lg {
        width: 33px;

        .onoffswitch2-label {
            &.switch-lg-label {
                height: 20px;

                &::before {
                    height: 21px;
                    width: 21px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.nav-settings {
    flex-direction: column;
    > .nav-item {
        display: block;

        > .nav-link {
            padding: 0rem;
            font-size: 15px;
            border-radius: 0.275rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: 0, 0;
            color: #263871;
            transition: background-color ease 0.2s;
            position: relative;
            border: 1px solid #e9ebfa;

            .nav-setting-icon,
            .nav-setting-txt {
                padding: 0.55rem 1rem;
            }
            .nav-setting-icon {
                border-right: 1px solid #e9ebfa;
            }
            &::before {
                content: "";
                position: absolute;
                height: 80%;
                padding: 2px;
                top: 50%;
                transform: translateY(-50%);
                left: -16px;
                background-color: var(--primary);
                visibility: hidden;
            }
            &.active {
                color: #fff !important;
                background-color: var(--primary);
                border-color: var(--primary);

                svg {
                    fill: #fff !important;
                }

                &::before {
                    visibility: visible;
                }

                .nav-setting-icon {
                    border-right-color: rgb(105, 138, 235);
                }
            }
            &:not(.active):hover {
                color: var(--primary) !important;

                svg {
                    fill: var(--primary) !important;
                }
            }
        }
        + .nav-item {
            margin-top: 10px;
            margin-left: 0px;
        }
    }
}

@media (max-width: 991px) {
    .nav-settings {
        flex-direction: row;
        > .nav-item {
            > .nav-link {
                &::before {
                    content: none;
                }
            }
            + .nav-item {
                margin-top: 0px;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .nav-settings {
        flex-direction: column;
        > .nav-item + .nav-item {
            margin-top: 10px;
            margin-left: 0px;
        }
    }
}
#emailalerroff {
    transition: all 0.3s ease;
}

.header-flags {
    .dropdown-menu {
        max-height: 300px;
        overflow: auto;
        background: #fff;
    }
}

.rtl {
    .is-loading > .form-control ~ .spinner-border,
    .is-loading > .form-control ~ .spinner-grow,
    .is-loading > .form-control-plaintext ~ .spinner-border,
    .is-loading > .form-control-plaintext ~ .spinner-grow,
    .is-loading > .form-select ~ .spinner-border,
    .is-loading > .form-select ~ .spinner-grow,
    .is-loading > .form-select[size] ~ .spinner-border,
    .is-loading > .form-select[size] ~ .spinner-grow {
        left: calc(0.375em + 0.1875rem);
        right: inherit;
    }
}

.dropzone .dz-preview {
    .dz-error-message {
        top: unset !important;
        bottom: 150px !important;
        &::after {
            content: none !important;
        }
    }
    &.dz-error .dz-remove {
        color: #be2626;
    }
}
body.hidden-scroll {
    overflow: auto !important;
    padding-right: 0 !important;
}
body.hidden-scroll::-webkit-scrollbar {
    background-color: transparent;
}

.input-group-text .btn-light-2 {
    border: 0px;
    border-left: 1px solid #d3dfea !important;
}
.featureboxurl {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sprukoloader-img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    width: 120px;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12rem;
    color: #ffffff;
    z-index: 1;
}

.cookie-sprukoimage {
    margin-bottom: 20px;
}
.reply-acc {
    border-radius: 13px;
    .card-body {
        padding-bottom: 8px;
    }
}
.reply-acc.collapse.show {
    margin-bottom: 1.5rem;
}
.table-bussiness-hours .table > :not(caption) > * > * {
    border-bottom-width: 0px;
}
.select2-results__options--nested {
    .select2-results__option {
        border-bottom: $border;
    }
}
.dark-mode {
    .btn-light-2,
    .btn-light-2:hover {
        color: #ffffff;
        background-color: rgb(255 255 255 / 10%);
    }
    .input-group-text .btn-light-2 {
        border-left: 1px solid $white-1 !important;
    }
}

.alert-warning-light {
    color: #212529 !important;
    background-color: #fffaed;
    border-color: #fffaed;
}
.alt-notify {
    background: #f1d5804d;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    &.mail {
        background: #daf2f3;
    }
    &.mail-1 {
        background: #fde7f7;
    }
}
.alert-warning-light .btn-close {
    font-weight: 400;
    border: 1px solid #ffa900;
    border-radius: 50%;
    font-size: 15px;
}
.badge-notify {
    font-weight: 400;
}
.notify-read {
    background: rgb(227, 230, 240) !important;
    color: #575d70;
}
.notify-mail {
    background: rgb(222 230 231) !important;
    color: #575d70;
}
.notify.vertical-scroll {
    height: auto !important;
}
.pricing-card .text-justified {
    display: block;
    border-bottom: 0px !important;
}
.notify-days-container:not(.show-days) {
    visibility: hidden;
    height: 0;
}
.notify-days-container.show-days {
    visibility: visible;
    height: auto;
}

.hide-container {
    transform: rotate(180deg) !important;
    transition: all ease 0.2s;
}
.notify-arrow {
    transition: all ease 0.2s;
    margin-top: -12px;
    padding: 1px;
    border: 1px solid #9ba5ca;
    border-radius: 50%;
    font-size: 15px;
    color: #9ba5ca;
}
.notify-days-container.show-days {
    padding-top: 1rem !important;
}
.dark-mode .notify-read {
    background: #3b3d5c !important;
}

.sprukocnotify {
    position: absolute;
    right: 20px;
}

.subjectmaxtext {
    position: absolute;
    right: 15px;
    top: -25px;
}
.search-element {
    position: absolute;
    top: 35px;
    right: 38px;
    opacity: 0.6;
}
.ticketnotetrash {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #f6f6f7;
    border: 1px solid #e3e6f0;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: #575d70;
    line-height: 25px;
    font-size: 13px;
}

.panel-arrows {
    a:before {
        content: "\e92f" !important;
        transform: rotate(90deg);
    }
    a.collapsed:before {
        content: "\e92f" !important;
    }
}

/* HIDE RADIO */
.ratingticket {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.ratingticket + img {
    cursor: pointer;
}

/* CHECKED STYLES */
.ratingticket:checked + img {
    outline: 2px solid #f00;
    border-radius: 50%;
}

// new dashboard styles //
.ticket-svg svg {
    width: 160px;
    position: absolute;
    height: 160px;
    right: -10px;
    transform: rotate(320deg);
    opacity: 0.02;
    top: -20px;
}

.myticket-svg svg {
    width: 40px;
    height: 40px;
    padding: 8px;
    background-image: linear-gradient(to bottom right, #3366ff, #0093ce);
    fill: $white;
    right: 10px;
    bottom: 10px;
    position: absolute;
    border-radius: 50px;
}

.recent-tickets svg {
    width: 45px;
    position: absolute;
    height: 45px;
    right: 15px;
    bottom: 15px;
    padding: 8px;
    background-color: var(--primary);
    fill: $white;
    border-radius: 13px;
}
.overall-tickets svg {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--primary);
    fill: $white;
    padding: 10px;
}
.overall-tickets {
    margin-bottom: 20px;
}
.ticket-state-svg {
    svg {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
}
.myticket-png img {
    width: 200px;
    height: 200px;
}
.ticket-before {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: -10px;
        right: 0;
        top: 7px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--primary);
    }
}
.recent-tickets-bg {
    background-image: url("../images/photos/recent-tickets.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav1 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 0;
    list-style: none;
    background: transparent;
    border: 1px solid #efefef;
    border-radius: 5px;
}
.nav-item1 {
    padding: 0px;
    min-width: 2rem;
    transition: 0.3s color;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav1.nav-column .nav-link {
    border-right: none !important;
    width: 100%;
    padding: 6px 6px;
    border-radius: 5px;
}

@media (min-width: 992px) {
    .nav1 .nav-link {
        font-size: 14px;
        color: $color;
    }
}
.nav1.nav-column .nav-link.active {
    color: $white !important;
    background-color: var(--primary);
}
.btn-group {
    .btn.btn-sm i {
        font-size: 12px !important;
    }
}
#tickets-table {
    tbody th,
    thead th {
        padding: 5px 20px !important;
    }
}
.preference {
    position: relative;
}
.preference:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    border-radius: 50px;
    top: 4px;
}
.preference-high.preference:before {
    background-color: $pink;
}
.preference-high {
    color: $pink;
}
.preference-low.preference:before {
    background-color: $success;
}
.preference-low {
    color: $success;
}
.preference-medium.preference:before {
    background-color: $warning;
}
.preference-medium {
    color: $warning;
}
.preference-critical.preference:before {
    background-color: $danger;
}
.preference-critical {
    color: $danger;
}
.ribbon-top-right {
    top: -25px;
    right: -25px;
}
.ribbon-top-right1 {
    top: -15px;
    right: -12px;
}
.ticket-details {
    position: relative;
}
.ribbon {
    font-size: 10px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}
.ribbon-top-right::before,
.ribbon-top-right1::before {
    top: 0;
    left: 36px;
}
.ribbon-top-right::before,
.ribbon-top-right::after,
.ribbon-top-right1::before,
.ribbon-top-right1::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 0px solid;
}
.ribbon-top-right::after,
.ribbon-top-right1::after {
    bottom: 36px;
    right: 0;
}
.ribbon-top-right span,
.ribbon-top-right1 span {
    left: -8px;
    top: 30px;
    transform: rotate(45deg);
}

.ribbon span {
    position: absolute;
    display: block;
    width: 185px;
    padding: 0px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    text-align: center;
}
.ticket-dets {
    max-width: 200px !important;
}
.ticket-activity > :not(:last-child).list-item::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    border-right: 2px dotted #d9e2ec;
    top: 40px;
    left: 15px;
}
.ticket-activity > :not(:last-child).list-item {
    position: relative;
    margin-bottom: 25px;
}
.ticket-activity .avatar img {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.ticket-activity .datatime {
    color: $gray-400;
}
.ticket-activity svg {
    width: 16px;
    height: 16px;
}
.card-sub-category {
    background: #7474bf;
    background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
    background: linear-gradient(to right, #348ac7, #7474bf);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .card {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}
#overall-tickets {
    .apexcharts-legend .apexcharts-legend-series {
        width: 45%;
        margin: 4px 0px !important;
    }
    .apexcharts-datalabel-value {
        font-weight: 800 !important;
    }
}
@media (max-width: 575.98px) {
    #overall-tickets {
        .apexcharts-legend .apexcharts-legend-series {
            width: 100%;
        }
    }
}
.ticket-details {
    ul {
        li {
            position: relative;
        }
        :nth-child(1):after,
        :nth-child(2):after,
        :nth-child(3):after,
        :nth-child(4):after,
        :nth-child(5):after,
        :nth-child(6):after {
            position: absolute;
            height: 15px;
            width: 1px;
            background-color: #e9ebfa;
            content: "";
            right: -1px;
            top: 2px;
        }
    }
}
#total-active {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    display: block;
}
.tickets-scroll {
    height: 320px !important;
}
.recent-tickets {
    span {
        position: relative;
    }
    :nth-child(1):after,
    :nth-child(2):after,
    :nth-child(3):after {
        position: absolute;
        height: 15px;
        width: 1px;
        background-color: #e9ebfa;
        content: "";
        right: -1px;
        top: 2px;
    }
}

.text-burnt-orange {
    color: #ff6f31 !important;
}
.text-teal {
    color: $teal !important;
}
.text-danger-dark {
    color: #af0000 !important;
}
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-bottom-width: 0px !important;
}
.ticket-details ul :last-child:after {
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: transparent;
    content: "";
    right: -1px;
    top: 2px;
}
.btn-group > .dropdown-toggle {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: -1px;
}
.btn-group > .btn:last-child,
.btn-group .btn:nth-last-child(2) {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.btn-sm,
.btn-group-sm > .btn {
    font-size: 0.85rem !important;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: none;
    opacity: 1;
}
.btn-outline-primary:hover {
    opacity: 1;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #fff !important;
    opacity: 1;
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    color: #fff !important;
}
.btn-group .dropdown-menu {
    padding: 0px !important;
}
.apexcharts-legend.position-bottom {
    bottom: 0px !important;
}

// FAQ's Styles

.accordion-button {
    &::after {
        width: 24px;
        height: 24px;
        content: "\2b";
        border-radius: 50px;
        color: $muted;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: none;
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform 0.2s ease-in-out;
    }

    &:not(.collapsed)::after {
        background-image: none;
        transform: rotate(-180deg);
        content: "\2212";
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50px;
        font-size: 14px;
        color: $muted;
    }
}

.accordion-item:first-of-type {
    border-radius: 13px;
    overflow: hidden;
}

.accordion-item {
    margin-bottom: 15px;
}

.accordion {
    .accordion-button {
        border-radius: 13px;
    }
    .accordion-item .accordion-button:not(.collapsed) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.uhelp-faq .accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
}

.accordion-item {
    border: 1px solid $border;
}

.uhelp-faq .accordion-button:focus {
    border-color: #e9ebfa;
}

.accordion .accordion-item {
    .accordion-button {
        border-radius: 13px;
    }
    border-radius: 13px;
}
.accordion-button:not(.collapsed) {
    color: $color;
    background-color: $white;
    box-shadow: none;
    border-bottom: $border;
}
.accordion-button:focus {
    box-shadow: none;
}
.uhelp-faq svg {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    fill: $muted;
    stroke: $muted;
}
.accordion-button:not(.collapsed) {
    svg {
        fill: $muted !important;
        stroke: $muted !important;
    }
}
.accordion-group svg {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    fill: var(--primary);
}
.uhelp-faq {
    .accordion-body {
        z-index: 999;
        background-color: #fff;
        position: relative;
    }
    .accordion-item {
        z-index: 99;
    }
}
.faq-category svg {
    width: 25px;
    height: 25px;
}
.employee-rating i {
    padding: 0px 2px;
}
.employee-rating {
    font-size: 0.8rem;
}
.tickets-category {
    position: relative;
    // z-index: 0;
}
.tickets-category a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}
.privatearticle svg {
    fill: transparent;
    stroke: #664d03;
}

.accordion-header:focus-visible {
    outline: none !important;
}
.accordion-button:focus {
    border-color: #e9ebfa !important;
}
.accordion-group {
    padding-bottom: 15px;
}
.accordion-group p {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 20px;
}
@-webkit-keyframes pulse-success {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(61, 8, 23, 0.9);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(13, 205, 148, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(13, 205, 148, 0);
    }
}
@keyframes pulse-success {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(13, 205, 148, 0.9);
        box-shadow: 0 0 0 0 rgba(13, 205, 148, 0.7);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(13, 205, 148, 0);
        box-shadow: 0 0 0 10px rgba(13, 205, 148, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(13, 205, 148, 0);
        box-shadow: 0 0 0 0 rgba(13, 205, 148, 0);
    }
}
.pulse-success {
    border: 2px solid #fff;
    box-shadow: 0 0 0 rgb(13, 205, 148, 0.9);
    animation: pulse-success 2s infinite;
}
.message-menu .dropdown-header {
    padding: 1rem;
}
.header .nav-link .badge {
    font-size: 11px !important;
    padding: 0.2rem 0.35rem !important;
}
.badge-gray {
    background-color: $gray-300;
    color: $color;
}
.mark-read {
    cursor: pointer;
}
.mark-read-none {
    color: $color;
}
.header-text,
.authentication-card,
.captcha-card,
.register-card {
    h3 {
        font-weight: 400 !important;
    }
}
.authentication-card {
    max-width: 400px;
}
.authentication-card-register {
    max-width: 500px;
}
.captcha-card {
    max-width: 350px;
}
.captcha {
    background-color: #f7f8f9;
    padding: 0.4rem;
    border-radius: 5px;
    span {
        width: 100%;
        height: 36px;
    }
    img {
        width: 100%;
        height: 36px;
    }
}
@media (min-width: 575.98px) {
    .login-modal {
        max-width: 400px;
    }
    .register-modal {
        max-width: 500px;
    }
    .forget-modal {
        max-width: 350px;
    }
}
@media (max-width: 575.98px) {
    .login-bg1 {
        background: none;
    }
    .login-bg1::before {
        background: white;
    }
    .login-bg1 .card {
        box-shadow: none;
        // border: 1px solid #e9ebfa;
    }
}
.roles-title {
    background: #f1f4fb;
    padding: 15px;
    border-radius: 7px;
    margin-top: 10px;
}

.svg-primary {
    fill: var(--primary);
}
.svg-secondary {
    fill: #fe7f00;
}
.svg-warning {
    fill: $warning;
}
.svg-info {
    fill: $info;
}
.svg-success {
    fill: $success;
}
.svg-danger {
    fill: $danger;
}
.svg-orange {
    fill: $orange;
}
.svg-white {
    fill: $white !important;
}

.svgspruko {
    padding: 3px 7px 3px 7px;
}

.sprukotag {
    .bootstrap-tagsinput {
        min-height: 200px;
    }
}

//translation page
.translation-area {
    margin-bottom: 10px;
}
.buttons-translate {
    .tabs-div {
        margin-bottom: -1px;
    }
    .btn {
        margin-right: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
.translate-input input {
    border: $border !important;
    &:focus {
        border: $border !important;
    }
}
.alert-light-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #f1e0af;
    i {
        opacity: 0.3;
    }
}
@media (max-width: 1280.98px) {
    .buttons-translate {
        .btn {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
@media (min-width: 1281px) {
    .border-xl-top {
        border-top: $border !important;
    }
}

h1,
.h1 {
    font-size: 1.8rem !important;
}

#sprukoverifybtn {
    position: absolute;
    top: -4px;
    right: 17px;
}

// Header menu //

@media screen and (min-width: 992px) {
    .home-page .landing-header-right .profile-dropdown {
        display: none;
    }

    .switcher-icon {
        display: none;
    }

    .horizontal-navtoggle {
        display: none;
    }
}

@media (max-width: 991px) {
    .home-page .landing-header-right {
        .header-message {
            i {
                color: #545b92;
            }
        }
    }
    .sidebar-gone {
        &.active {
            .responsive-navbar.navbar .navbar-collapse {
                margin-left: 240px;
                transition: all 0.25s ease-in-out;
            }
        }
        .responsive-navbar.navbar .navbar-collapse {
            margin-left: 0px;
            transition: all 0.25s ease-in-out;
        }
        &.rtl {
            &.active {
                .responsive-navbar.navbar .navbar-collapse {
                    margin-right: 240px;
                    margin-left: inherit;
                }
            }
            .responsive-navbar.navbar .navbar-collapse {
                margin-right: 0px;
                margin-left: inherit;
            }
        }
    }
    .landingmain-header {
        position: fixed;
        z-index: 999;
        background: #fff !important;
        width: 100%;
        padding: 0.99rem 0;
        border-bottom: 1px solid #e9ebfa;
    }

    .landing-header {
        background: #fff !important;
    }

    .landing-header .animated-arrow {
        margin: 6px 0 0 18px !important;
    }
    .rtl .landing-header .animated-arrow {
        margin: 6px 18px 0 0 !important;
    }

    .landing-header .headerlanding-logo {
        display: block;
    }

    .landing-header .headerlanding-logo .header-brand-img {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto !important;
        top: 8px;
    }
    .landing-header {
        padding: 1.7rem 0 !important;
    }
    .headerlanding-logo .header-brand-img.light-logo {
        display: block;
    }
}

@media (max-width: 575px) {
    .landing-header .header-brand .header-brand-img.mobile-logo {
        display: block !important;
        margin: 0;
        margin-left: 75px;
    }
    .rtl .landing-header .header-brand .header-brand-img.mobile-logo {
        margin-left: inherit;
        margin-right: 75px;
    }

    .landing-header .header-brand .header-brand-img.desktop-lgo {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .rtl .landing-header-right .show.dropdown-menu {
        right: inherit !important;
        left: 0 !important;
    }
    .responsive-navbar.navbar {
        position: relative !important;
        display: -ms-flexbox;
        display: flex;
        top: 65px;
        margin: 0;
        margin-bottom: 0 !important;
        padding: 0;
    }
    .responsive-navbar.navbar .navbar-collapse {
        position: fixed;
        width: 100%;
        background: #ffffff;
        margin-top: 0;
        z-index: 999;
        top: 83px;
        border-bottom: 1px solid #ffffff;
        border-top: 0px solid #eaedf7;
        padding-left: 1rem;
        padding-right: 0.3rem;
        left: 0;
        right: 0;
        padding: 10px;
        box-shadow: none;
    }
    .rtl .responsive-navbar.navbar .navbar-collapse {
        padding-right: 1rem;
        padding-left: 0.3rem;
    }
    .navbar-toggler {
        position: absolute !important;
        top: 5px;
        left: 0;
        right: 10px;
    }
    .rtl .navbar-toggler {
        right: 0;
        left: 10px;
    }

    .responsive-navbar.navbar .navbar-collapse {
        top: 87px;
    }
    .dark-mode {
        .landingmain-header {
            background: #191d43 !important;
            border-bottom-color: rgba(255, 255, 255, 0.07);
        }
        .landing-header {
            background: #191d43 !important;
        }
        .landing-header .headerlanding-logo .header-brand-img {
            &.desktop-lgo {
                display: block;
            }
            &.light-logo {
                display: none;
            }
        }
        .responsive-navbar.navbar .navbar-collapse {
            background: #191d43;
            border-bottom-color: rgba(255, 255, 255, 0.07);
        }
        .home-page .landing-header-right .header-message i {
            color: #e9ebfa;
        }
    }
}

// End Header menu //


/* Admin/Employee Dashboard Cards */

@media (min-width: 1400px) {
	.row-cols-xxl-5 > * {
		flex: 0 0 auto !important;
		width: 20% !important;
		max-width: 100% !important;
	}
}
// @media (min-width: 768px) {
// 	.row-cols-md-5>* {
// 		flex: 0 0 auto !important;
// 		width: 20% !important;
// 		max-width: 100% !important;
// 	}
// }

.ticket-new {
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 50px;
}

.ticket-new.primary {
	background-color: rgba(51, 102, 255, 0.1);
}

.ticket-new.secondary {
	background-color: rgba(254, 127, 0, 0.1);
}

.ticket-new.success {
	background-color: rgba(13, 205, 148, 0.1);
}

.tickets-recent {
	width: 40px;
	height: 40px;
	fill: #fff;
	padding: 8px;
	// top: 10px;
	border-radius: 10px;
	position: relative;
}

.tickets-recent.primary {
	background-color: #3366ff;
	box-shadow: 0px 10px 10px rgba(51, 102, 255, 0.2);
}

.tickets-recent.secondary {
	background-color: #fe7f00;
    box-shadow: 0px 10px 10px rgb(254 127 0 / 20%);
}

.icon2 {
	height: 40px;
	width: 40px;
	line-height: 43px;
	border-radius: 7px;
	text-align: center;
	font-size: 20px;
}
.user-img {
	background-color: #f1f4fb;
}
.user-arrow{
	top: 35%;
    margin-top: -5px;
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
    position: absolute;
    display: block;
	&:before {
		left: -6px;
		border-width: 0.7rem 0 0.7rem 0.7rem;
		border-left-color: #f1f4fb !important;
		position: absolute;
		content: "";
		border-color: transparent;
		border-style: solid;
	}
}
.my-tickets {
	.card .card-header .card-title:before {
		display: none;
	}
}
@media (max-width: 1279px){
	.my-sub-ticket{
		padding-left: 0.75rem !important;
	}
}

/* Admin/Employee Dashboard Cards */


@media (min-width: 1400px) {
	.col-xxl {
	  flex: 1 0 0%;
	}

	.row-cols-xxl-auto > * {
	  flex: 0 0 auto;
	  width: auto;
	}

	.row-cols-xxl-1 > * {
	  flex: 0 0 auto;
	  width: 100%;
	}

	.row-cols-xxl-2 > * {
	  flex: 0 0 auto;
	  width: 50%;
	}

	.row-cols-xxl-3 > * {
	  flex: 0 0 auto;
	  width: 33.3333333333%;
	}

	.row-cols-xxl-4 > * {
	  flex: 0 0 auto;
	  width: 25%;
	}

	.row-cols-xxl-5 > * {
	  flex: 0 0 auto;
	  width: 20%;
	}

	.row-cols-xxl-6 > * {
	  flex: 0 0 auto;
	  width: 16.6666666667%;
	}

	.col-xxl-auto {
	  flex: 0 0 auto;
	  width: auto;
	}

	.col-xxl-1 {
	  flex: 0 0 auto;
	  width: 8.33333333%;
	}

	.col-xxl-2 {
	  flex: 0 0 auto;
	  width: 16.66666667%;
	}

	.col-xxl-3 {
	  flex: 0 0 auto;
	  width: 25%;
	}

	.col-xxl-4 {
	  flex: 0 0 auto;
	  width: 33.33333333%;
	}

	.col-xxl-5 {
	  flex: 0 0 auto;
	  width: 41.66666667%;
	}

	.col-xxl-6 {
	  flex: 0 0 auto;
	  width: 50%;
	}

	.col-xxl-7 {
	  flex: 0 0 auto;
	  width: 58.33333333%;
	}

	.col-xxl-8 {
	  flex: 0 0 auto;
	  width: 66.66666667%;
	}

	.col-xxl-9 {
	  flex: 0 0 auto;
	  width: 75%;
	}

	.col-xxl-10 {
	  flex: 0 0 auto;
	  width: 83.33333333%;
	}

	.col-xxl-11 {
	  flex: 0 0 auto;
	  width: 91.66666667%;
	}

	.col-xxl-12 {
	  flex: 0 0 auto;
	  width: 100%;
	}
}

.maintenance-mode
{
    z-index: 9999;
}


/**** Ticket History style***/
.notification {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.notification:before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    width: 3px;
    background: var(--primary);
    left: 20%;
    margin-left: -1px;
}
.notification>li {
    position: relative;
    min-height: 50px;
    padding: 15px 0;
}
.notification .notification-time {
    position: absolute;
    left: -7px;
    width: 18%;
    text-align: right;
    top: 30px;
}
.notification .notification-time .date {
    line-height: 16px;
    font-size: 13px;
    margin-bottom: 4px;
    color: #8f8fb1;
}
.notification .notification-time .date, .notification .notification-time .time {
    display: block;
    font-weight: 500;
}
.notification .notification-time .time {
    line-height: 24px;
    font-size: 21px;
    color: #8f8fb1;
}
.notification .notification-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 41px;
}
.notification .notification-icon a {
    text-decoration: none;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 3px solid var(--primary);
    transition: border-color 0.2s linear;
}
.notification .notification-body {
    box-shadow: 0px 8px 16px rgb(0 0 0 / 3%);
    margin-left: 25%;
    margin-right: 18%;
    background: #fff;
    position: relative;
    padding: 14px 20px;
    border-radius: 6px;
}
.notification .notification-body:before {
    content: "";
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 25px;
}
.notify-time {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: 25px;
}
@media (max-width: 767px){
	.notify-time {
		display: none;
	}
	.notification .notification-body {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.notification .notification-time .time {
		display: none;
	}
	.notification:before {
		display: none;
	}
	.notification .notification-icon {
		display: none;
	}
	.notification .notification-time .date, .notification .notification-time .time {
		display: none;
	}
}

.notification-badge {
    background-color: #eff1f5;
    color: #7987a1;
}

.useroutput
{
    position: relative;
    top: -5px;
}

.page-header .dropdown-toggle::after {
    display: none;
}


.my-tickets  {
	.card {
		.card-header .card-title:before {
			display: none;
		}
	}
}
@media (min-width: 1400px) {
	.my-tickets .mb-xxl-0, .my-xxl-0 {
		margin-bottom: 0 !important;
	}
	.my-sub-ticket .mb-xxl-0, .my-xxl-0 {
		margin-bottom: 0 !important;
	}
}

.modal-open .ui-datepicker {
    z-index: 11000 !important;
}
/**** Ticket History style***/

.cursor-default{
    cursor: default !important;
}

@media (min-width: 992px){
    .rtl .can_msg {
        position: absolute;
        top: -33px;
        left: 12px;
        right: inherit;
    }
}

// Change Password In Customer

@media (max-width: 767.98px) {
    .password-change {
        .sprukopsdauto {
            width: 100% !important;
            border-radius: 5px !important;
            margin-bottom: 5px;
        }

        .input-group-text {
            border-radius: 5px !important;
        }

        .sprukogenratepsd {

            width: 100% !important;
        }
    }
}
#priority {
    .apexcharts-canvas {
        margin: 0 auto;
    }
}
